body {
    font-family: 'Poor Story', cursive;
    background-color: lightgrey;
}

.title{
    padding: 2rem 4rem 0;
    color: blue;
    font-weight: 600;
}

select{
    text-align: center;
    margin-bottom: 1rem;
}

.selector{
    background-color: blue;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: calc((100% / 5) - 3rem);
    margin: 1.5rem;
    aspect-ratio: 2 / 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.icon-name{
    font-size: 30px;
    font-weight: 500;
}

i{
    font-size: 40px;
}

.hidden{
    display: none;
}